################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Iktraktar 1/Iktraktar/Iktraktar/Iktraktar/obj
/Iktraktar 1/Iktraktar/Iktraktar/.vs/Iktraktar/FileContentIndex
